.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  padding: 20px;
}

.App h1 {
  font-family: 'Pokemon Solid', Arial, Helvetica, sans-serif;
  font-size: 70px;
  color: #ffcb03;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #3e569e;
  letter-spacing: 4px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.PokemonLogo {
  padding-top: 10px;
  padding-bottom: 50px;
}

.CheckingValidity {
  padding-top: 10px;
}

.CheckingValidity h2 {
  font-family: 'Pokemon Solid', Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: #ffcb03;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #3e569e;
  letter-spacing: 3px;
}

.FileUpload {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FileUpload .MuiDropzoneArea-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
